<div data-load="content">
    <section class="Content-section">
        <p>
            <strong>Full Name:</strong> <span data-load="name"></span>
        </p>
        <p>
            <strong>Group:</strong> <span data-load="group"></span>
        </p>
        <p>
            <strong>Position:</strong> <span data-load="position"></span>
        </p>
        <p>
            <strong>Number:</strong> <span data-load="number"></span>
        </p>
        <p>
            <strong>Molar:</strong> <span data-load="molar"></span>
        </p>
        <p>
            <strong>Electrons:</strong> <span data-load="electrons"></span>
        </p>
    </section>
    <section class="Notes">

    </section>
</div>