index.css*, *:before, *:after {
            box-sizing: border-box;
        }

        body {
            font-family: 'Georgia', serif;
        }

        h1,h2,h3,h4,h5,h6 {
            font-family: 'Helvetica', Arial, sans-serif;
        }

        a {
            color: #333;
            text-decoration: none;
        }

        a:hover {
            color: #666;
        }

        .Container {
            min-width: 540px;
        }

        .Header-heading {
            text-align: center;
        }

        .Navigation {
            list-style-type: none;
            padding: 0;
            margin: 0;
            border: 1px solid #ccc;
        }

        .Navigation > li {
            display: inline-block;
        }

        .Navigation > li:hover {
            background-color: #228b22;
        }

        .Navigation > li > a {
            padding: 1em;
            display: block;
        }

        .Navigation > li > a.is-active {
            background-color: #ddd;
        }

        .Navigation > li > a:hover {
            color: #fff;
        }

        .Navigation > li > a.is-negative:hover {
            background-color: #c0473d;
        }

        .Navigation > li > a.is-primary:hover {
            background-color: #475fc0;
        }

        .Navigation > li > a.is-standard:hover {
            background-color: #aaa;
        }

        .Content {
            padding: 1em;
        }

        .TableView {
            display: inline-block;
            vertical-align: top;
            margin: 10px;
        }

        .TableView-divider {
            color: #fff;
            display: block;
            padding: 1em;
            background-color: #aaa;
        }

        #notepad {
            width: 100%;
            min-height: 300px;
            padding: 1em;
            font-size: 1em;
            font-family: 'Georgia', serif;
        }